.tbl{
  width: 100%;
  //border-style: double;
}
.tbl-tr{
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  height: 30px;
}
.tbl-tr-td{
  //width: 100px;
  //border-style: dotted;
  text-align: center;
}
.tbl-tr-td-l{
  //width: 100px;
  //border-style: dotted;
  text-align: left;
}
.tbl-tr-td-r{
  //width: 100px;
  //border-style: dotted;
  text-align: right;
}
.tbl-tr-td-bt{
  width: 10px;
  //border-style: dotted;
  text-align: justify;
}
.button-foot{
  width: 100%;
}
.del-button{
 width: 10%;
}