<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Peptide-Builder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class="picker-button">Calculate</ion-button>
  <table class="tbl">
    <tr class="tbl-tr" *ngFor = "let a of peptide; let i=index">
      <td class="tbl-tr-td">{{ protOne[i].name }}</td>
      <td class="tbl-tr-td">{{ a.triple }}</td>
      <td class="tbl-tr-td">{{ protTwo[i].name }}</td>
      <ion-button (click)="removeResidue(i)" class="del-button" shape="round" color="danger">del</ion-button>
    </tr>
  </table>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="button-foot" (click)="openPicker()">Add Residue</ion-button>
  </ion-toolbar>
</ion-footer>
