.peptide-grid{
  width: 100%;
}
.peptide-row{
  height: 15%;
}
.peptide-col{
  text-align: center;
}
 ///////////////////////////////////////////////////////////
 ion-grid{
  width: 100%;
}
.button-foot{
  width: 100%;
}
////////////////////////////////////////////////////////////
.column-left-header{
  max-width: 30%;
  text-align: right;
}
.column-right-header{
  text-align: left;
}